In [9]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('./Datasets/Data_Combinada.csv')

/tmp/ipykernel_11842/2478976544.py:1: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Datasets/Data_Combinada.csv')

In [6]:
df.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,M,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,H,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,H,NaN,NaN,"441155,351","4474129,588",1.0,0.0,3,No
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,M,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3,No
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,H,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3,No

In [19]:
df_vallecas = df[df['distrito'] == "PUENTE DE VALLECAS"].copy()
df_vallecas.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,M,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,H,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
30,2022S000015,01/01/2022,7:25:00,"AVDA. ENTREVIAS, 94",94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,"443634,572","4469942,483",0.0,0.0,3,No
31,2022S000015,01/01/2022,7:25:00,"AVDA. ENTREVIAS, 94",94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 40 a 44 años,H,14.0,Sin asistencia sanitaria,"443634,572","4469942,483",1.0,0.0,3,No
32,2022S000015,01/01/2022,7:25:00,"AVDA. ENTREVIAS, 94",94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,"443634,572","4469942,483",0.0,0.0,3,No

In [22]:
def strip_num(string):
    return re.sub(r'[\d,]+', '', string)

In [23]:
df_vallecas['localizacion'] = df_vallecas['localizacion'].apply(strip_num)

In [24]:
df_vallecas.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
0,2022S000001,01/01/2022,1:30:00,AVDA. ALBUFERA,19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,M,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
1,2022S000001,01/01/2022,1:30:00,AVDA. ALBUFERA,19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,H,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
30,2022S000015,01/01/2022,7:25:00,AVDA. ENTREVIAS,94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,"443634,572","4469942,483",0.0,0.0,3,No
31,2022S000015,01/01/2022,7:25:00,AVDA. ENTREVIAS,94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 40 a 44 años,H,14.0,Sin asistencia sanitaria,"443634,572","4469942,483",1.0,0.0,3,No
32,2022S000015,01/01/2022,7:25:00,AVDA. ENTREVIAS,94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,"443634,572","4469942,483",0.0,0.0,3,No

In [31]:
(df_vallecas.groupby('localizacion').count().sort_values(by='num_expediente', ascending=False))

,num_expediente,fecha,hora,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
localizacion,,,,,,,,,,,,,,,,,,,,
AVDA. ALBUFERA,317,317,317,317,317,317,317,272,315,317,317,317,185,185,317,317,317,317,317,317
AUTOV. M- +E,123,123,123,123,123,123,123,109,122,123,123,123,60,60,123,123,123,123,123,123
AVDA. ENTREVIAS,115,115,115,115,115,115,115,101,115,115,115,115,75,75,115,115,115,115,115,115
AVDA. PABLO NERUDA,88,88,88,88,88,88,88,75,88,88,88,88,48,48,88,88,88,88,88,88
AVDA. ALBUFERA / AUTOV. M-,82,82,82,82,82,82,82,75,81,82,82,82,28,28,82,82,82,82,82,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CALL. PEDRO CALLEJO,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
AVENIDA SANTA CATALINA FAROLA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
CALL. CONVENIO / AVDA. SAN DIEGO,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
CALLE PKRH (INCORPORACIÓN A A DESDE M- ),1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
AVDA. BUENOS AIRES / CALL. PUERTO DE BALBARAN,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1,1,1

Miramos los accidentes en el cuartil más alto del distrito con más accidentes

In [56]:
df_grouped = df_vallecas.groupby('localizacion').count()
counts = df_grouped['num_expediente']

Q1 = counts.quantile(0.25)
Q3 = counts.quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = counts[(counts < lower_bound) | (counts > upper_bound)]

percentile_95 = counts.quantile(0.95)

top_5_percent_df = df_grouped[df_grouped['num_expediente'] >= percentile_95].reset_index()

top_5_percent_df = top_5_percent_df.sort_values(by=['num_expediente'], ascending=False)

Vamos a ver donde se concentran los accidentes, mirando ahora la imagen completa, con el número de calle, y los tipos de accidentes

In [101]:
filtered_df_vallecas = df_vallecas[df_vallecas['localizacion'].isin(top_5_percent_df['localizacion'])].copy()
filtered_df_vallecas.sort_values(by=['localizacion'])

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
65935,2023S022405,09/06/2023,14:30:00,AUTOV. A- +E,+00400E,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Vehículo articulado,...,De 50 a 54 años,H,NaN,NaN,441797.648,4470004.005,0.0,0.0,7,No
48973,2023S002829,01/02/2023,9:30:00,AUTOV. A- +E,+00400E,13.0,PUENTE DE VALLECAS,Alcance,NaN,Turismo,...,De 45 a 49 años,M,NaN,NaN,441868.907,4470324.24,0.0,0.0,3,No
48972,2023S002829,01/02/2023,9:30:00,AUTOV. A- +E,+00400E,13.0,PUENTE DE VALLECAS,Alcance,NaN,Furgoneta,...,De 21 a 24 años,H,NaN,NaN,441868.907,4470324.24,0.0,0.0,3,No
48971,2023S002829,01/02/2023,9:30:00,AUTOV. A- +E,+00400E,13.0,PUENTE DE VALLECAS,Alcance,NaN,Furgoneta,...,De 50 a 54 años,H,NaN,NaN,441868.907,4470324.24,0.0,0.0,3,No
34181,2022S030123,14/10/2022,10:00:00,AUTOV. A- +E,+00400E,13.0,PUENTE DE VALLECAS,Alcance,Nublado,Turismo,...,De 50 a 54 años,M,14.0,Sin asistencia sanitaria,"441908,387","4469874,818",0.0,0.0,5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023S015043,12/04/2023,20:30:00,CMNO. VALDERRIBAS,99,13.0,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Nublado,Furgoneta,...,De 45 a 49 años,H,14.0,Sin asistencia sanitaria,444071.691,4472239.309,0.0,0.0,5,No
58047,2023S015043,12/04/2023,20:30:00,CMNO. VALDERRIBAS,99,13.0,PUENTE DE VALLECAS,Choque contra obstáculo fijo,Nublado,Furgoneta,...,De 55 a 59 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,444071.691,4472239.309,0.0,0.0,5,No
13400,2022S011209,22/04/2022,9:50:00,CMNO. VALDERRIBAS,97,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,...,De 40 a 44 años,M,NaN,NaN,"444019,558","4472219,955",0.0,0.0,1,No
28696,2022S024178,30/08/2022,18:10:00,CMNO. VALDERRIBAS,82,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Furgoneta,...,De 21 a 24 años,H,NaN,NaN,"443872,126","4472304,979",0.0,0.0,2,No
49243,2023S003225,03/02/2023,8:15:00,CMNO. VALDERRIBAS,113,13.0,PUENTE DE VALLECAS,Alcance,NaN,Turismo,...,De 40 a 44 años,M,NaN,NaN,444239.418,4471771.265,0.0,0.0,2,No

In [102]:
import pandas as pd

filtered_df_vallecas['coordenada_x_utm'] = pd.to_numeric(filtered_df_vallecas['coordenada_x_utm'].str.replace(',', '.'), errors='coerce')
filtered_df_vallecas['coordenada_y_utm'] = pd.to_numeric(filtered_df_vallecas['coordenada_y_utm'].str.replace(',', '.'), errors='coerce')

filtered_df_vallecas.dropna(subset=['coordenada_x_utm', 'coordenada_y_utm'], inplace=True)

In [103]:
filtered_df_vallecas

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
0,2022S000001,01/01/2022,1:30:00,AVDA. ALBUFERA,19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,M,NaN,NaN,443359.226,4472082.272,0.0,0.0,2,No
1,2022S000001,01/01/2022,1:30:00,AVDA. ALBUFERA,19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,H,NaN,NaN,443359.226,4472082.272,0.0,0.0,2,No
30,2022S000015,01/01/2022,7:25:00,AVDA. ENTREVIAS,94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,443634.572,4469942.483,0.0,0.0,3,No
31,2022S000015,01/01/2022,7:25:00,AVDA. ENTREVIAS,94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 40 a 44 años,H,14.0,Sin asistencia sanitaria,443634.572,4469942.483,1.0,0.0,3,No
32,2022S000015,01/01/2022,7:25:00,AVDA. ENTREVIAS,94,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,443634.572,4469942.483,0.0,0.0,3,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65455,2023S022129,05/06/2023,20:15:00,AVDA. ALBUFERA / AUTOV. M-,302,13.0,PUENTE DE VALLECAS,Colisión lateral,Nublado,Turismo,...,De 25 a 29 años,H,NaN,NaN,446019.735,4470758.527,0.0,0.0,4,No
65456,2023S022129,05/06/2023,20:15:00,AVDA. ALBUFERA / AUTOV. M-,302,13.0,PUENTE DE VALLECAS,Colisión lateral,Nublado,Turismo,...,De 35 a 39 años,H,NaN,NaN,446019.735,4470758.527,0.0,0.0,4,No
65512,2023S022164,06/06/2023,11:25:00,AVDA. PABLO NERUDA,50,13.0,PUENTE DE VALLECAS,Colisión múltiple,NaN,Furgoneta,...,De 40 a 44 años,H,NaN,NaN,445291.488,4471072.805,0.0,0.0,3,No
65513,2023S022164,06/06/2023,11:25:00,AVDA. PABLO NERUDA,50,13.0,PUENTE DE VALLECAS,Colisión múltiple,NaN,Turismo,...,Desconocido,H,NaN,NaN,445291.488,4471072.805,0.0,0.0,3,No
65514,2023S022164,06/06/2023,11:25:00,AVDA. PABLO NERUDA,50,13.0,PUENTE DE VALLECAS,Colisión múltiple,NaN,Turismo,...,Desconocido,H,NaN,NaN,445291.488,4471072.805,0.0,0.0,3,No

In [112]:
import utm
import folium

def utm_to_latlon(utm_x, utm_y, zone_number=30, zone_letter='T'):
    """
    Convert UTM coordinates to Latitude and Longitude.
    Assumes zone number 30 and zone letter 'T' for Madrid.
    """
    try:
        lat, lon = utm.to_latlon(utm_x, utm_y, zone_number, zone_letter)
        return lat, lon
    except Exception as e:
        print("Error en la conversión:", e, " utmx: ", utm_x, "utmy: ", utm_y, " ")
        return None, None

# Processing the data: converting UTM coordinates to latitude and longitude
coordinates = filtered_df_vallecas.filter(items=['coordenada_x_utm', 'coordenada_y_utm', 'tipo_accidente', 'tipo_vehiculo'])
coordinates.columns = ['utm_x', 'utm_y', 'tipo_accidente', 'tipo_vehiculo']
# Apply the conversion
coordinates['lat'], coordinates['lon'] = zip(*coordinates.apply(lambda row: utm_to_latlon(row['utm_x'], row['utm_y']), axis=1))
# Drop rows with NaN values in lat/lon
coordinates.dropna(subset=['lat', 'lon'], inplace=True)

# Creating a map centered around Madrid
madrid_map = folium.Map(location=[40.4168, -3.7038], zoom_start=12)

# Adding the coordinates to the map
for idx, row in coordinates.iterrows():
    label = f'Lat: {row["lat"]}, Lon: {row["lon"]}, \nAccidente: {row["tipo_accidente"]}, \nVehículo: {row["tipo_vehiculo"]}'
    folium.Marker([row['lat'], row['lon']], popup=label).add_to(madrid_map)
# Save the map to an HTML file
map_file = '/home/duo/Desktop/madrid_map.html'
madrid_map.save(map_file)

map_file

'/home/duo/Desktop/madrid_map.html'

Vamos a filtrar todas las carreteras

In [135]:
def path_denomination(path:str):
    return path.split()[0].upper().replace(',', '').replace('.', '')

In [136]:
df['first_word'] = df['localizacion'].apply(path_denomination)
result = df.groupby('first_word')['localizacion'].count()
result.sort_values(ascending=False)

first_word
CALL        41024
AVDA        12934
AUTOV        7212
PASEO        4690
PLAZA        2501
            ...
LEONARDO        1
LATINA          1
ENLACE          1
RETIRO          1
ZONA            1
Name: localizacion, Length: 343, dtype: int64