In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/Data_Combinada.csv')

/tmp/ipykernel_7362/4064952317.py:1: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Datasets/Data_Combinada.csv')

In [3]:
df[df['cod_distrito'].isnull()]

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
54805,2023S009762,16/03/2023,22:40:00,GTA. ISIDRO GONZALEZ VELAZQUEZ / CALL. FRANCIS...,NaN,NaN,NaN,Choque contra obstáculo fijo,Despejado,Turismo,...,De 45 a 49 años,M,NaN,NaN,446979.419,4481398.946,0.0,0.0,1,No

Se realiza una búsqueda en google de la dirección para saber el distrito. Resulta que es distrito de barajas
Con código postal 28055

In [4]:
df[df['distrito'] == 'BARAJAS'].head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
172,2022S000091,03/01/2022,9:50:00,"AEROP. TERMINAL T-2, 0",0,21.0,BARAJAS,Colisión lateral,Despejado,Turismo,...,De 35 a 39 años,H,NaN,NaN,"451350,93","4479345,54",0.0,0.0,2,No
173,2022S000091,03/01/2022,9:50:00,"AEROP. TERMINAL T-2, 0",0,21.0,BARAJAS,Colisión lateral,Despejado,Turismo,...,De 55 a 59 años,H,NaN,NaN,"451350,93","4479345,54",0.0,0.0,2,No
422,2022S000240,06/01/2022,10:00:00,SALIDA M-11,1,21.0,BARAJAS,Caída,Despejado,Motocicleta hasta 125cc,...,De 40 a 44 años,H,1.0,Atención en urgencias sin posterior ingreso,"447558,404","4480407,883",0.0,0.0,1,No
546,2022S000298,07/01/2022,16:35:00,GTA. ERMITA DE LA VIRGEN DE LA SOLEDAD / AVDA....,0,21.0,BARAJAS,Alcance,Despejado,Turismo,...,De 25 a 29 años,M,14.0,Sin asistencia sanitaria,"450586,357","4479813,482",0.0,0.0,2,No
547,2022S000298,07/01/2022,16:35:00,GTA. ERMITA DE LA VIRGEN DE LA SOLEDAD / AVDA....,0,21.0,BARAJAS,Alcance,Despejado,Turismo,...,De 40 a 44 años,M,7.0,Asistencia sanitaria sólo en el lugar del acci...,"450586,357","4479813,482",0.0,0.0,2,No

In [5]:
df.loc[54805, 'cod_distrito'] = 21
df.loc[54805, 'distrito'] = 'BARAJAS'
df.loc[54805]

num_expediente                                                2023S009762
fecha                                                          16/03/2023
hora                                                             22:40:00
localizacion            GTA. ISIDRO GONZALEZ VELAZQUEZ / CALL. FRANCIS...
numero                                                                NaN
cod_distrito                                                         21.0
distrito                                                          BARAJAS
tipo_accidente                               Choque contra obstáculo fijo
estado_meteorológico                                            Despejado
tipo_vehiculo                                                     Turismo
tipo_persona                                                    Conductor
rango_edad                                                De 45 a 49 años
sexo                                                                    M
cod_lesividad                                                         NaN
lesividad                                                             NaN
coordenada_x_utm                                               446979.419
coordenada_y_utm                                              4481398.946
positiva_alcohol                                                      0.0
positiva_droga                                                        0.0
numero_pasajeros                                                        1
fugado                                                                 No
Name: 54805, dtype: object

In [6]:
df.to_csv('Datasets/Data_Combinada.csv', index=False)