# Tratamiento de nulos en el campo Edad
Siguiendo el trabajo de mi compañero Luca, existen muchos valores nulos en el campo de edad que habrá de tratar.

## Hipótesis
La predicción de la edad solo será la del conductor, que es quién determina lógicamente tiene más correlación con el número de accidentes.

Para predecir el campo de la edad se tendrán en cuenta las siguientes variables del csv Accidentes_20XX
1. La edad de los demás pasajeros: La edad de los demás pasajeros guarda relación con la edad del conductor. Un conductor jóven es más improbable que lleve a pasajeros menores de edad que un conductor más mayor.
2. La fecha y hora del accidente: Es posible que la fecha y la hora guarde alguna relación con la edad del conductor.
3. El distrito: Es posible que algunos distritos tengan conductores más jóvenes y otros conductores más mayores.
4. Género: Es posible que existan distinta distribución por edad en relación con el género.
5. Tipo de accidente: Es posible que los jóvenes tengan más accidentes de un tipo que los mayores.
6. Drogas y alcohol: Es posible que los jóvenes sean más propensos a conducir bajo influencia de drogas que las personas más mayores.
7. Tipo de vehículo: Es posible que los vehículos industriales sean conducidos por personas más mayores

A continuación se seleccionan los campos a tratar en el dataframe y se proporciona una vista previa a fin de refrescar al lector sobre la estructura de los datos

In [1]:
import pandas as pd
import numpy as np
from matplotlib.testing.jpl_units import day

accidentes_2022 = pd.read_csv('./Datasets/Data_Combinada.csv')
accidentes_2022

/tmp/ipykernel_32971/3255132315.py:5: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  accidentes_2022 = pd.read_csv('./Datasets/Data_Combinada.csv')

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,Conductor,De 30 a 34 años,M,NaN,NaN,"443359,226","4472082,272",0,0.0
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,H,NaN,NaN,"443359,226","4472082,272",0,0.0
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,H,NaN,NaN,"441155,351","4474129,588",1,0.0
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,M,NaN,NaN,"441155,351","4474129,588",0,0.0
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,Conductor,De 40 a 44 años,H,NaN,NaN,"441155,351","4474129,588",0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74956,2023S028337,31/08/2023,23:20:00,"CALL. GOLFO DE SALONICA, 12",12,16.0,HORTALEZA,Otro,Despejado,Turismo,Pasajero,De 55 a 59 años,M,14.0,Sin asistencia sanitaria,443580.365,4480912.376,0,0.0
74957,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,440795.55,4471044.789,0,0.0
74958,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Turismo,Conductor,De 35 a 39 años,H,14.0,Sin asistencia sanitaria,440795.55,4471044.789,0,0.0
74959,2023S028352,31/08/2023,14:40:00,"AUTOV. M-30, 00NC06",00NC06,5.0,CHAMARTÍN,Caída,Despejado,Motocicleta hasta 125cc,Conductor,De 40 a 44 años,H,1.0,Atención en urgencias sin posterior ingreso,442825.5,4481003.193,0,0.0
74960,2023S029136,02/08/2023,22:10:00,"AVDA. CARDENAL HERRERA ORIA, 80",80,8.0,FUENCARRAL-EL PARDO,Choque contra obstáculo fijo,NaN,Turismo,Conductor,De 35 a 39 años,H,NaN,NaN,441491.437,4482518.59,0,0.0

### Extracción de campos
A continuación, se extraen los campos num_expediente, fecha y hora, distrito, género, tipo de accidente, drogas y alcohol

In [2]:
df_2022 = accidentes_2022.drop(
    columns=['coordenada_x_utm', 'coordenada_y_utm', 'localizacion', 'numero', 'cod_lesividad', 'estado_meteorológico',
             'lesividad'])
df_2022.head()

,num_expediente,fecha,hora,cod_distrito,distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga
0,2022S000001,01/01/2022,1:30:00,13.0,PUENTE DE VALLECAS,Alcance,Turismo,Conductor,De 30 a 34 años,M,0,0.0
1,2022S000001,01/01/2022,1:30:00,13.0,PUENTE DE VALLECAS,Alcance,Turismo,Conductor,De 45 a 49 años,H,0,0.0
2,2022S000002,01/01/2022,0:30:00,3.0,RETIRO,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,H,1,0.0
3,2022S000002,01/01/2022,0:30:00,3.0,RETIRO,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,M,0,0.0
4,2022S000002,01/01/2022,0:30:00,3.0,RETIRO,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,H,0,0.0

### Limpieza
Existe un dato redundante, que es el distrito. Se sustituirá por su correspondiente código. Pero antes, vamos a verificar que no existe ningún nulo en la columna cod_distrito

In [3]:
df_2022['cod_distrito'].count() == df_2022['num_expediente'].count()

False

Por tanto, existen tantos no nulos como números de expediente en cod_distrito. Podemos eliminar la columna distrito.

In [4]:
df_2022.pop('distrito')
df_2022.head()

,num_expediente,fecha,hora,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga
0,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 30 a 34 años,M,0,0.0
1,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 45 a 49 años,H,0,0.0
2,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,H,1,0.0
3,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,M,0,0.0
4,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,H,0,0.0

Para poder tratar correctamente con los datos, vamos a convertir todos los datos posibles en números. Empezamos por positivo_alcohol y positivo_droga, que se cambiarán por 0 y 1.

Esta parte del código nos la propociona el compañero Luca
1. Sustituímos S por 1 y N por 0, Rellenamos los nulos en drogas por 0.
2. Sustituímos Hombre por 1 y Mujer por 0.

In [5]:
# Cambiamos en 'positiva_alcohol'
df_2022['positiva_alcohol'].replace({'S': 1, 'N': 0}, inplace=True)
df_2022['sexo'].replace({'H': 1, 'M': 0}, inplace=True)
# Cambiamos en 'positiva_droga' los nulls
df_2022['positiva_droga'].fillna(0, inplace=True)

df_2022.head()

,num_expediente,fecha,hora,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga
0,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 30 a 34 años,0,0,0.0
1,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 45 a 49 años,1,0,0.0
2,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,1,1,0.0
3,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,0,0,0.0
4,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,1,0,0.0

### Cazar valores nulos
Buscamos nulos en las distintas columnas

In [6]:
filas_con_nulos = df_2022['tipo_persona'].isnull()
df_2022[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, cod_distrito, tipo_accidente, tipo_vehiculo, tipo_persona, rango_edad, sexo, positiva_alcohol, positiva_droga]
Index: []

In [7]:
filas_con_nulos = df_2022['tipo_vehiculo'].isnull()
df_2022[filas_con_nulos]

,num_expediente,fecha,hora,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga
275,2022S000148,04/01/2022,18:15:00,12.0,Colisión lateral,NaN,Conductor,Desconocido,0,0,0.0
321,2022S000180,04/01/2022,20:25:00,12.0,Colisión lateral,NaN,Conductor,Desconocido,1,0,0.0
601,2022S000342,08/01/2022,0:00:00,5.0,Colisión lateral,NaN,Conductor,Desconocido,1,0,0.0
626,2022S000356,08/01/2022,15:07:00,16.0,Colisión múltiple,NaN,Conductor,Desconocido,1,0,0.0
720,2022S000413,09/01/2022,12:46:00,17.0,Colisión múltiple,NaN,Conductor,Desconocido,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
74094,2023S027718,21/08/2023,16:10:00,21.0,Atropello a persona,NaN,Conductor,Desconocido,1,0,0.0
74095,2023S027718,21/08/2023,16:10:00,21.0,Atropello a persona,NaN,Peatón,De 55 a 59 años,1,0,0.0
74312,2023S027875,24/08/2023,16:45:00,2.0,Atropello a persona,NaN,Conductor,Desconocido,1,0,0.0
74321,2023S027879,24/08/2023,18:45:00,6.0,Caída,NaN,Conductor,Desconocido,0,0,0.0
74428,2023S027944,25/08/2023,20:15:00,13.0,Colisión lateral,NaN,Conductor,Desconocido,1,0,0.0

In [8]:
filas_con_nulos = df_2022['fecha'].isnull()
df_2022[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, cod_distrito, tipo_accidente, tipo_vehiculo, tipo_persona, rango_edad, sexo, positiva_alcohol, positiva_droga]
Index: []

In [9]:
filas_con_nulos = df_2022['tipo_accidente'].isnull()
df_2022[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, cod_distrito, tipo_accidente, tipo_vehiculo, tipo_persona, rango_edad, sexo, positiva_alcohol, positiva_droga]
Index: []

Como solo es una entrada la vamos a eliminar

In [10]:
df_2022 = df_2022.dropna(subset=['tipo_accidente'])
df_2022.head()

,num_expediente,fecha,hora,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga
0,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 30 a 34 años,0,0,0.0
1,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 45 a 49 años,1,0,0.0
2,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,1,1,0.0
3,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,0,0,0.0
4,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,1,0,0.0

In [11]:
filas_con_nulos = df_2022['sexo'].isnull()
df_2022[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, cod_distrito, tipo_accidente, tipo_vehiculo, tipo_persona, rango_edad, sexo, positiva_alcohol, positiva_droga]
Index: []

In [12]:
filas_con_nulos = df_2022['positiva_alcohol'].isnull()
df_2022[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, cod_distrito, tipo_accidente, tipo_vehiculo, tipo_persona, rango_edad, sexo, positiva_alcohol, positiva_droga]
Index: []

In [13]:
filas_con_nulos = df_2022['positiva_droga'].isnull()
df_2022[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, cod_distrito, tipo_accidente, tipo_vehiculo, tipo_persona, rango_edad, sexo, positiva_alcohol, positiva_droga]
Index: []

### Tratamiento de fechas
Para que sea posible para nuestro modelo inferir de los datos, preferimos que las fechas y las horas se expresen en valores continuos.
Para lograrlo, vamos a traducir la fecha a minutos desde el 00:00. La fecha se traducirá en días desde el 1-1-20XX.

Necesitamos un dato extra que puede ser interesante agregar, festivos y fines de semana. Se añadirá esa columna con esa información relevante. Seguiremos la siguiente convención con los 14 días festivos anuales de la ciudad de Madrid, por lo que serán 10 festivos nacionales, 2 festivos autonómicos (Com. Madrid) y 2 festivos locales (Madrid).
* Se denotará día laboral por 0, y día festivo o de descanso por 1.

Calcular fines de semana y festivos.

Una rápida búsqueda por internet nos da los 14 días festivos. La fuente es el calendario de laboral de la Agencia Tributaria

In [14]:
from datetime import datetime


def is_work_day(date_str: str) -> int:
    date_format = '%d/%m/%Y'  # Formato para 'dd-MM-yyyy'

    holidays_madrid = ['']  # todo
    try:
        date_obj = datetime.strptime(date_str, date_format)
        day_of_week_int = date_obj.weekday()
        if day_of_week_int == 5 or day_of_week_int == 6 or date_str in holidays_madrid:
            return 0
        return 1

    except ValueError:
        return -1


df_2022['bool_laborable'] = df_2022['fecha'].transform(is_work_day)
df_2022.head()

,num_expediente,fecha,hora,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable
0,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 30 a 34 años,0,0,0.0,0
1,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 45 a 49 años,1,0,0.0,0
2,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,1,1,0.0,0
3,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,0,0,0.0,0
4,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,1,0,0.0,0

Procedemos a granular las para que nuestro modelo lo pueda interpretar esos números. Separamos en día, y en mes

In [15]:
def extract_day(date_str: str) -> int:
    date_parts = date_str.split('/')
    if len(date_parts) >= 3:
        return int(date_parts[0])


def extract_month(date_str: str) -> int:
    date_parts = date_str.split('/')
    if len(date_parts) >= 3:
        return int(date_parts[1])


df_2022['day'] = df_2022['fecha'].transform(extract_day)
df_2022['month'] = df_2022['fecha'].transform(extract_month)
df_2022.head()

,num_expediente,fecha,hora,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month
0,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 30 a 34 años,0,0,0.0,0,1,1
1,2022S000001,01/01/2022,1:30:00,13.0,Alcance,Turismo,Conductor,De 45 a 49 años,1,0,0.0,0,1,1
2,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,1,1,0.0,0,1,1
3,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,0,0,0.0,0,1,1
4,2022S000002,01/01/2022,0:30:00,3.0,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,1,0,0.0,0,1,1

Dropeamos la columna ya que hemos extraído los datos

In [16]:
df_2022.pop('fecha')
df_2022.head()

,num_expediente,hora,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month
0,2022S000001,1:30:00,13.0,Alcance,Turismo,Conductor,De 30 a 34 años,0,0,0.0,0,1,1
1,2022S000001,1:30:00,13.0,Alcance,Turismo,Conductor,De 45 a 49 años,1,0,0.0,0,1,1
2,2022S000002,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,1,1,0.0,0,1,1
3,2022S000002,0:30:00,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,0,0,0.0,0,1,1
4,2022S000002,0:30:00,3.0,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,1,0,0.0,0,1,1

Calcular la hora a minutos desde las 00:00

In [17]:
def minutes_from_midnight(hour_str: str) -> int:
    clock = hour_str.split(':')
    minutes = 0

    minutes = int(clock[0]) * 60
    minutes = minutes + int(clock[1])

    return minutes


df_2022['hora'] = df_2022['hora'].transform(minutes_from_midnight)

In [18]:
df_2022.rename(columns={'hora': ' minutes_from_midnight'}, inplace=True)
df_2022.head()

,num_expediente,minutes_from_midnight,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,rango_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month
0,2022S000001,90,13.0,Alcance,Turismo,Conductor,De 30 a 34 años,0,0,0.0,0,1,1
1,2022S000001,90,13.0,Alcance,Turismo,Conductor,De 45 a 49 años,1,0,0.0,0,1,1
2,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,1,1,0.0,0,1,1
3,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,0,0,0.0,0,1,1
4,2022S000002,30,3.0,Colisión fronto-lateral,Turismo,Conductor,De 40 a 44 años,1,0,0.0,0,1,1

### Codificar en números
Ahora computaremos la media aritmética de edad de todos los pasajeros del vehículo. Pero primero vamos a especificar unas marcas de clase para rango_edad.
Transformar rango de edad en la media del mayor y el menor. Los desconocidos se asignarán None.

18 a 20 años -> 19
21 a 24 años -> 22.5
etc

In [19]:
import re


def marca_de_clase_rango_edad(edad: str) -> float:
    regex_format = r'\b\d+\b'
    numbers = re.findall(regex_format, edad)
    if len(numbers) >= 2:
        return (int(numbers[0]) + int(numbers[1])) / 2
    else:
        return -1


df_2022['rango_edad'] = df_2022['rango_edad'].apply(marca_de_clase_rango_edad)
df_2022.rename(columns={'rango_edad': 'marca_de_clase_edad'}, inplace=True)
df_2022.head()

,num_expediente,minutes_from_midnight,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,marca_de_clase_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month
0,2022S000001,90,13.0,Alcance,Turismo,Conductor,32.0,0,0,0.0,0,1,1
1,2022S000001,90,13.0,Alcance,Turismo,Conductor,47.0,1,0,0.0,0,1,1
2,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,32.0,1,1,0.0,0,1,1
3,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,37.0,0,0,0.0,0,1,1
4,2022S000002,30,3.0,Colisión fronto-lateral,Turismo,Conductor,42.0,1,0,0.0,0,1,1

Ahora computamos la media de edad de todos los pasajeros

In [20]:
def media_edad_pasajeros(list_age: tuple) -> float:
    age_sum = 0
    count = 0
    for age in list_age:
        if age != -1:
            age_sum = age_sum + age
            count = count + 1
    if count != 0:
        return age_sum / count
    return 0


df_2022['media_edad_pasajeros'] = df_2022.groupby('num_expediente')['marca_de_clase_edad'].transform(
    media_edad_pasajeros)
df_2022['numero_pasajeros'] = df_2022.groupby('num_expediente')['num_expediente'].transform('count')
df_2022.head()

,num_expediente,minutes_from_midnight,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,marca_de_clase_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month,media_edad_pasajeros,numero_pasajeros
0,2022S000001,90,13.0,Alcance,Turismo,Conductor,32.0,0,0,0.0,0,1,1,39.5,2
1,2022S000001,90,13.0,Alcance,Turismo,Conductor,47.0,1,0,0.0,0,1,1,39.5,2
2,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,32.0,1,1,0.0,0,1,1,37.0,3
3,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Pasajero,37.0,0,0,0.0,0,1,1,37.0,3
4,2022S000002,30,3.0,Colisión fronto-lateral,Turismo,Conductor,42.0,1,0,0.0,0,1,1,37.0,3

Ahora ya no necesitamos a los pasajeros, nos quedaremos solo con los conductores, cuyas edades habrá de computar

In [21]:
mask_conductores = (df_2022['tipo_persona'] == 'Conductor')
df_2022 = df_2022[mask_conductores]
df_2022 = df_2022.reset_index(drop=True)
df_2022.head()

,num_expediente,minutes_from_midnight,cod_distrito,tipo_accidente,tipo_vehiculo,tipo_persona,marca_de_clase_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month,media_edad_pasajeros,numero_pasajeros
0,2022S000001,90,13.0,Alcance,Turismo,Conductor,32.0,0,0,0.0,0,1,1,39.5,2
1,2022S000001,90,13.0,Alcance,Turismo,Conductor,47.0,1,0,0.0,0,1,1,39.5,2
2,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,Conductor,32.0,1,1,0.0,0,1,1,37.0,3
3,2022S000002,30,3.0,Colisión fronto-lateral,Turismo,Conductor,42.0,1,0,0.0,0,1,1,37.0,3
4,2022S000003,110,1.0,Atropello a persona,Motocicleta > 125cc,Conductor,-1.0,1,0,0.0,0,1,1,19.0,2

Ya que todos son conductores, no necesitamos la columna tipo_persona más

In [22]:
df_2022.pop('tipo_persona')
df_2022.head()

,num_expediente,minutes_from_midnight,cod_distrito,tipo_accidente,tipo_vehiculo,marca_de_clase_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month,media_edad_pasajeros,numero_pasajeros
0,2022S000001,90,13.0,Alcance,Turismo,32.0,0,0,0.0,0,1,1,39.5,2
1,2022S000001,90,13.0,Alcance,Turismo,47.0,1,0,0.0,0,1,1,39.5,2
2,2022S000002,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,32.0,1,1,0.0,0,1,1,37.0,3
3,2022S000002,30,3.0,Colisión fronto-lateral,Turismo,42.0,1,0,0.0,0,1,1,37.0,3
4,2022S000003,110,1.0,Atropello a persona,Motocicleta > 125cc,-1.0,1,0,0.0,0,1,1,19.0,2

Transformamos el número de expediente en número de implicados en el accidente.

In [23]:
numero_implicados = df_2022['num_expediente'].value_counts()
diccionario_expediente_implicados = numero_implicados.to_dict()
df_2022['num_expediente'] = df_2022['num_expediente'].map(diccionario_expediente_implicados)
df_2022.rename(columns={'num_expediente': 'num_implicados'}, inplace=True)

df_2022.head()

,num_implicados,minutes_from_midnight,cod_distrito,tipo_accidente,tipo_vehiculo,marca_de_clase_edad,sexo,positiva_alcohol,positiva_droga,bool_laborable,day,month,media_edad_pasajeros,numero_pasajeros
0,2,90,13.0,Alcance,Turismo,32.0,0,0,0.0,0,1,1,39.5,2
1,2,90,13.0,Alcance,Turismo,47.0,1,0,0.0,0,1,1,39.5,2
2,2,30,3.0,Colisión fronto-lateral,Motocicleta hasta 125cc,32.0,1,1,0.0,0,1,1,37.0,3
3,2,30,3.0,Colisión fronto-lateral,Turismo,42.0,1,0,0.0,0,1,1,37.0,3
4,1,110,1.0,Atropello a persona,Motocicleta > 125cc,-1.0,1,0,0.0,0,1,1,19.0,2

Transformamos el tipo de accidente en códigos por medio de un mapeo por diccionario, pero antes, debemos establecer el código.

In [24]:
valores_unicos = df_2022['tipo_accidente'].unique()
diccionario_accidentes = {tipo_accidente : codigo for tipo_accidente, codigo in enumerate(valores_unicos)}
diccionario_accidentes

{0: 'Alcance',
 1: 'Colisión fronto-lateral',
 2: 'Atropello a persona',
 3: 'Choque contra obstáculo fijo',
 4: 'Colisión lateral',
 5: 'Caída',
 6: 'Colisión múltiple',
 7: 'Colisión frontal',
 8: 'Otro',
 9: 'Solo salida de la vía',
 10: 'Vuelco',
 11: 'Atropello a animal',
 12: 'Despeñamiento'}

Una vez establecido el código mapeamos al índice

In [25]:
df_2022['tipo_accidente'].map()

TypeError: Series.map() missing 1 required positional argument: 'arg'

## Normalización de datos
Es necesario tratar los datos para que estén centrados en 0 y con varianza 1. Recordemos que la función logistica y la función tangente hiperbólica, que utilizaremos más tarde, tienen la forma:

In [ ]:
import matplotlib.pyplot as plt


def logistic_function(x):
    return 1 / (1 + np.exp(-x))


x = np.arange(-6, 6, 0.1)
y = logistic_function(x)
yh = np.tanh(x)

plt.figure(figsize=(8, 6))
plt.plot(x, y, label='Función Logística', color='b')
plt.plot(x, yh, label='Tangente Hiperbólica', color='r', linestyle='--')
plt.title('Gráfica de la Función Logística vs Tangente Hiperbólica')
plt.xlabel('x')
plt.ylabel('y')
plt.legend()
plt.grid(True)
plt.show()

Eso significa que para todas las entradas mayores que 4, la derivada es aproximadamente 0, y el aprendizaje se detendrá. Además, como podemos observar, la función logística es una curva más "suave", que esperamos que rinda mejor al tener mayor región activa para aceptar valores antes de que desvanezca el gradiente.

Utilizaremos la función logística inter-capas y la función softmax para la salida. Ahora recordamos los datos que tenemos que tratar:

# Modelo clasificatorio multiclass
Para diseñar el modelo seguiremos esta pauta
1. Comenzar Simple:
        Inicializar una red neuronal con una capa oculta.
        Definir una capa de entrada con 7 neuronas (para las 7 entradas) y una capa de salida con el número adecuado de neuronas para las clases de tu problema.
2. Evaluar el Rendimiento:
        Dividir los datos en conjuntos de entrenamiento y validación o prueba.
        Entrenar la red neuronal con la estructura inicial en el conjunto de entrenamiento.
        Evaluar el rendimiento de la red en el conjunto de validación utilizando métricas como precisión, recall y F1-score.

3. Evitar el Sobreajuste:
        Observar si hay signos de sobreajuste (diferencia significativa entre el rendimiento en entrenamiento y validación).
        Considerar la adición de técnicas de regularización, como dropout o regularización L2, para evitar el sobreajuste.

4. Incrementar la Complejidad Gradualmente:
        Si la estructura inicial no proporciona un rendimiento satisfactorio, aumentar la complejidad de la red agregando capas ocultas.
        Experimentar con diferentes cantidades de neuronas en cada capa.

5. Experimentar con Hiperparámetros:
        Utilizar búsqueda en cuadrícula o búsqueda aleatoria para explorar diferentes hiperparámetros, incluyendo el número de capas y neuronas.
        Realizar experimentos con diversas configuraciones y registrar el rendimiento.

6. Validación Cruzada:
        Realizar validación cruzada para obtener una estimación más precisa del rendimiento del modelo en diferentes divisiones de datos.

7. Considerar el Conocimiento del Dominio:
        Tomar en cuenta cualquier conocimiento específico del dominio que pueda influir en la elección de la arquitectura de la red.

8. Usar Modelos Pre-entrenados:
        Si es relevante para tu problema, considerar la posibilidad de utilizar modelos pre-entrenados o transferencia de aprendizaje como punto de partida.

9. Enfoque de Conjunto (Opcional):
        Si tienes suficientes datos, explorar el uso de métodos de conjunto para mejorar el rendimiento del modelo.

## Preparaciones iniciales
Se ha elegido para esta implementación, un modelo completamente conectado, donde la información de cada neurona se transmite a la siguiente.
Tal que para las entradas x1 ... xn tendríamos el siguiente modelo: (se cuentan las capadas desde la entrada 1 hasta la salida 3).
La función error será MSE

### Capa 1
Para la neurona f1 ... fn:
f1 = w10 * x0 + w11 * x1 + ... + w1n * xn
fn = w'10 * x0 + w11 * x1 + ... + w1n * xn

El valor de la neurona es sigmoid(fn), donde sigmoid es logistic function
S(x) = e ^ x / (e ^ x + 1)

### Capa 2
Para la neurona g1 ... gn
g1 = w10 * f0 + w11 * f1 + ... + w1n * fn
gn = w'10 * f0 + w11 * f1 + ... + w1n * fn

El valor de la neurona es sigmoid(fn), donde sigmoid es logistic function
S(x) = e^x / (e^x+1)

### Capa 3
Para la neurona h1 ... hn
etc 
h1 = w10 * x0 + w11 * g1 + ... + w1n * gn

## Expresión matricial
Para que sea fácil trabajar con tantos pesos, implementaremos todas las operaciones de forma matricial.

### Matriz de pesos

Denotamos la matriz de los pesos de todas las neuronas de una capa como \( W \), en nuestro caso, una matriz. El input se denota \( X \), en nuestro caso, un vector. El resultado de la computación de una capa es \( Z \).

Por ejemplo, para la capa 1 tenemos:
\[ Z = W \times X \]

Donde

\( X = \begin{bmatrix} x_1 \\ x_2 \\ \vdots \\ x_n \end{bmatrix} \) y \( W = \begin{bmatrix} w_{11} & w_{12} & \cdots & w_{1n} \\ w_{21} & w_{22} & \cdots & w_{2n} \\ \vdots & \vdots & \ddots & \vdots \\ w_{n1} & w_{n2} & \cdots & w_{nn} \end{bmatrix} \)

Si hacemos el producto matricial \( W * X^T \) (trasponiendo \( X \)), obtenemos una matriz de dimensiones \( n_neuronas * n_entradas = Z \).

\[ Z \] es de dimensión \( n * 1 \), y representa la entrada para la siguiente capa.

### Vector sesgo
El vector de los pesos del sesgo se inicializan a 0

## Funciones de apoyo
Se desarrollan las funciones auxiliares para computar los pesos y la salida de cada neurona.
La derivada de la función logística es derv_logistic_function(x)

La función softmax se utiliza para computar el valor más probable en la salida.
La función softmax se define como:

\[ \sigma(z)_i = \frac{e^{z_i}}{\sum_{j=1}^{K} e^{z_j}} \]

Donde:
- \( \sigma(z)_i \) es la componente i-ésima de la salida de la función softmax.
- \( z \) es el vector de puntuaciones (logits) de entrada.
- \( K \) es el número de clases (la longitud del vector de puntuaciones).

In [ ]:
def logistic_function(x):
    return 1 / (1 + np.exp(-x))


def derv_logistic_function(x):
    return logistic_function(x) * (1 - logistic_function(x))


def compute_output(w: list, x: list) -> float:
    return logistic_function(np.dot(w, x))


def softmax(x):
    """
    Calcula la función softmax para un conjunto de datos. La suma de todos los valores de la salida es 1.
    
    Argumentos:
    - x (ndarray): Vector de salida
    
    Devuelve:
    - ndarray: Un arreglo con las mismas dimensiones de 'x', con las puntuaciones transformadas 
               en probabilidades mediante la función softmax.
    """
    # Para evitar desbordamientos numéricos, restamos el máximo valor en 'x'
    exp_x = np.exp(x - np.max(x))
    # Se usa axis=-1 es que permite que la función np.sum opere a lo largo del último eje de la matriz exp_x, independientemente de la cantidad de ejes que tenga
    return exp_x / np.sum(exp_x, axis=-1, keepdims=True)

### Inicialización de pesos, glorot uniform [Xavier Glorot y Yoshua Bengio 2010].

Esta inicialización se basa en la idea de que los gradientes y las activaciones deben tener varianzas similares en todas las capas, lo que ayuda a tener una propagación más eficiente de los gradientes durante el entrenamiento.

W = random(−6/(n_in + n_out), 6/(n_in + n_out))

Donde:

- **W**: Son los pesos a inicializar.
- **n_in**: es el número de neuronas en la capa anterior (número de entradas de la neurona actual).
- **n_out**: es el número de neuronas en la capa actual (o en la siguiente capa).

Elegimos esta función de inicialización porque es la recomendada para utilizarse con la función logística y evitar la saturación o desvanecimiento del gradiente

In [ ]:
from numpy import ndarray


def glorot_uniform(shape: tuple) -> ndarray:
    """
    Realiza la inicialización Glorot Uniform.
    
    Argumentos:
    - shape (tuple): Forma de la matriz de pesos a inicializar, generalmente (n_{in}, n_{out})
    
    Devuelve:
    - ndarray: Matriz de pesos inicializada de n dimensiones
    """
    n_in, n_out = shape
    limit = np.sqrt(6 / (n_in + n_out))

    return np.random.uniform(-limit, limit, shape)

In [ ]:
df_2022