# Limpiado de Datos

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Accidentalidad 2022-2023


El fichero 202X_Accidentalidad.csv recoge los datos de Accidentes de tráfico en la Ciudad de Madrid registrados por la Policía Municipal.

1. Tomamos los datos de los ficheros 2022_Accidentalidad.csv y 2023_Accidentalidad.csv y creamos dataframes con los datos de los ficheros

In [17]:
accidentes_2022 = pd.read_csv('./Datasets/2022_Accidentalidad.csv', sep = ';')
accidentes_2022.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,Mujer,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,Hombre,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,Hombre,NaN,NaN,"441155,351","4474129,588",S,NaN,NaN,NaN
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,Mujer,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,Hombre,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN

In [18]:
accidentes_2023 = pd.read_csv('./Datasets/2023_Accidentalidad.csv', sep = ';')
accidentes_2023.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
0,2023S000001,01/01/2023,1:15:00,"AVDA. ALFONSO XIII, 33",33,5.0,CHAMARTÍN,Alcance,Despejado,Todo terreno,Conductor,De 55 a 59 años,Mujer,14.0,Sin asistencia sanitaria,443397.166,4478129.388,N,NaN
1,2023S000001,01/01/2023,1:15:00,"AVDA. ALFONSO XIII, 33",33,5.0,CHAMARTÍN,Alcance,Despejado,Todo terreno,Pasajero,De 21 a 24 años,Hombre,14.0,Sin asistencia sanitaria,443397.166,4478129.388,N,NaN
2,2023S000001,01/01/2023,1:15:00,"AVDA. ALFONSO XIII, 33",33,5.0,CHAMARTÍN,Alcance,Despejado,Todo terreno,Pasajero,De 21 a 24 años,Hombre,14.0,Sin asistencia sanitaria,443397.166,4478129.388,N,NaN
3,2023S000001,01/01/2023,1:15:00,"AVDA. ALFONSO XIII, 33",33,5.0,CHAMARTÍN,Alcance,Despejado,Todo terreno,Pasajero,De 21 a 24 años,Mujer,7.0,Asistencia sanitaria sólo en el lugar del acci...,443397.166,4478129.388,N,NaN
4,2023S000001,01/01/2023,1:15:00,"AVDA. ALFONSO XIII, 33",33,5.0,CHAMARTÍN,Alcance,Despejado,Todo terreno,Pasajero,De 55 a 59 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,443397.166,4478129.388,N,NaN

2. Combinamos los dataframes en uno solo para facilitar el trabajo y si hay filas duplicadas o filas completamente nulas las eliminamos para evitar tener datos repetidos

In [19]:
combined_data = pd.concat([accidentes_2022, accidentes_2023])
# Restablecer índices para evitar índices duplicados
combined_data.reset_index(drop=True, inplace=True)
# Limpiar los datos
combined_data.drop_duplicates(inplace=True)
combined_data.dropna(how='all', inplace=True)

### Cazar valores nulos
Buscamos nulos en las distintas columnas para mantener la integridad de los datos, conseguir precisión en el análisis, lograr compatibilidad con algoritmos y optimizar recursos

In [20]:
filas_con_nulos = combined_data['tipo_persona'].isnull()
combined_data[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, localizacion, numero, cod_distrito, distrito, tipo_accidente, estado_meteorológico, tipo_vehiculo, tipo_persona, rango_edad, sexo, cod_lesividad, lesividad, coordenada_x_utm, coordenada_y_utm, positiva_alcohol, positiva_droga, Unnamed: 19, Unnamed: 20]
Index: []

[0 rows x 21 columns]

In [21]:
filas_con_nulos = combined_data['tipo_vehiculo'].isnull()
combined_data[filas_con_nulos].head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
291,2022S000148,04/01/2022,18:15:00,CALL. EDUARDO BARREIROS / AVDA. POBLADOS,5,12.0,USERA,Colisión lateral,Lluvia débil,NaN,...,Desconocido,Desconocido,NaN,NaN,"440801,217","4469164,69",NaN,NaN,NaN,NaN
341,2022S000180,04/01/2022,20:25:00,AVDA LOS POBLADOS - C/ EXPROPIACIÓN,146,12.0,USERA,Colisión lateral,Nublado,NaN,...,Desconocido,Desconocido,NaN,NaN,"440082,365","4469234,182",N,NaN,NaN,NaN
634,2022S000342,08/01/2022,0:00:00,"CALL. PUERTO RICO, 6A",6A,5.0,CHAMARTÍN,Colisión lateral,Despejado,NaN,...,Desconocido,Desconocido,NaN,NaN,"442801,043","4478205,366",NaN,NaN,NaN,NaN
661,2022S000356,08/01/2022,15:07:00,CALL. FRANCISCO JOSE ARROYO / CALL. ARMONIA,2,16.0,HORTALEZA,Colisión múltiple,Despejado,NaN,...,Desconocido,Desconocido,NaN,NaN,"448109,781","4478305,503",N,NaN,NaN,NaN
764,2022S000413,09/01/2022,12:46:00,CALL. ESTRONCIO / CALL. BENITA LOPEZ,17,17.0,VILLAVERDE,Colisión múltiple,NaN,NaN,...,Desconocido,Desconocido,NaN,NaN,"441498,93","4466555,878",N,NaN,NaN,NaN

In [22]:
filas_con_nulos = combined_data['fecha'].isnull()
combined_data[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, localizacion, numero, cod_distrito, distrito, tipo_accidente, estado_meteorológico, tipo_vehiculo, tipo_persona, rango_edad, sexo, cod_lesividad, lesividad, coordenada_x_utm, coordenada_y_utm, positiva_alcohol, positiva_droga, Unnamed: 19, Unnamed: 20]
Index: []

[0 rows x 21 columns]

In [23]:
filas_con_nulos = combined_data['tipo_accidente'].isnull()
combined_data[filas_con_nulos]

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
73578,2023S025389,14/07/2023,23:45:00,"CALL. EDUARDO BARREIROS, 29",29,12.0,USERA,NaN,NaN,NaN,...,De 35 a 39 años,Hombre,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

Observamos que solo es una columna en la cual el tipo de accidente es nulo y, aunque sea solo una entre 74,961, ese registro carece de información crucial para el análisis. La falta de datos en 'tipo_accidente' puede generar interpretaciones erróneas o distorsionar los resultados al analizar las causas y naturaleza de los accidentes e inferir con el análisis.

In [24]:
combined_data.dropna(subset=['tipo_accidente'], inplace=True)
combined_data.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,Mujer,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,Hombre,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,Hombre,NaN,NaN,"441155,351","4474129,588",S,NaN,NaN,NaN
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,Mujer,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,Hombre,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN

In [25]:
filas_con_nulos = combined_data['sexo'].isnull()
combined_data[filas_con_nulos]

Empty DataFrame
Columns: [num_expediente, fecha, hora, localizacion, numero, cod_distrito, distrito, tipo_accidente, estado_meteorológico, tipo_vehiculo, tipo_persona, rango_edad, sexo, cod_lesividad, lesividad, coordenada_x_utm, coordenada_y_utm, positiva_alcohol, positiva_droga, Unnamed: 19, Unnamed: 20]
Index: []

[0 rows x 21 columns]

In [26]:
filas_con_nulos = combined_data['positiva_alcohol'].isnull()
combined_data[filas_con_nulos]

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
291,2022S000148,04/01/2022,18:15:00,CALL. EDUARDO BARREIROS / AVDA. POBLADOS,5,12.0,USERA,Colisión lateral,Lluvia débil,NaN,...,Desconocido,Desconocido,NaN,NaN,"440801,217","4469164,69",NaN,NaN,NaN,NaN
634,2022S000342,08/01/2022,0:00:00,"CALL. PUERTO RICO, 6A",6A,5.0,CHAMARTÍN,Colisión lateral,Despejado,NaN,...,Desconocido,Desconocido,NaN,NaN,"442801,043","4478205,366",NaN,NaN,NaN,NaN
658,2022S000354,07/01/2022,23:15:00,AVDA. ILUSTRACION / CALL. GINZO DE LIMIA,0,8.0,FUENCARRAL-EL PARDO,Colisión lateral,Despejado,Turismo,...,Desconocido,Desconocido,NaN,NaN,"440196,519","4481492,133",NaN,NaN,NaN,NaN
1479,2022S000832,15/01/2022,22:35:00,"CTRA. M-111, ROTONDA SALIDA AVENIDA DE LOGROÑO",+00300E,21.0,BARAJAS,Colisión fronto-lateral,NaN,Turismo,...,Desconocido,Desconocido,NaN,NaN,"452984,27","4482774,785",NaN,NaN,NaN,NaN
1907,2022S001130,19/01/2022,20:09:00,"CALL. LA DEL MANOJO DE ROSAS, 69",69,17.0,VILLAVERDE,Colisión fronto-lateral,NaN,Furgoneta,...,Desconocido,Desconocido,NaN,NaN,"440748,938","4467397,024",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77537,2023S027875,24/08/2023,16:45:00,"CALL. LINNEO, 5",5,2.0,ARGANZUELA,Atropello a persona,Despejado,NaN,...,Desconocido,Desconocido,NaN,NaN,438869.987,4473821.066,NaN,NaN,NaN,NaN
77628,2023S027925,25/08/2023,9:35:00,CALLE BOYER CON CALLE VIGIL,26,19.0,VICÁLVARO,Colisión fronto-lateral,Despejado,Motocicleta hasta 125cc,...,Desconocido,Desconocido,NaN,NaN,450240.246,4472879.377,NaN,NaN,NaN,NaN
77629,2023S027925,25/08/2023,9:35:00,CALLE BOYER CON CALLE VIGIL,26,19.0,VICÁLVARO,Colisión fronto-lateral,Despejado,Turismo,...,Desconocido,Desconocido,NaN,NaN,450240.246,4472879.377,NaN,NaN,NaN,NaN
77701,2023S027997,26/08/2023,19:45:00,CALL. JULIA GARCIA BOUTAN / CALL. SUECIA,35A,20.0,SAN BLAS-CANILLEJAS,Colisión fronto-lateral,Despejado,Turismo,...,Desconocido,Desconocido,NaN,NaN,448648.202,4475686.579,NaN,NaN,NaN,NaN
77779,2023S028051,27/08/2023,23:35:00,"CALL. MENASALBAS, 6",6,17.0,VILLAVERDE,Choque contra obstáculo fijo,Despejado,Turismo,...,Desconocido,Desconocido,NaN,NaN,440924.505,4468287.581,NaN,NaN,NaN,NaN

In [27]:
filas_con_nulos = combined_data['positiva_droga'].isnull()
combined_data[filas_con_nulos]

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,Unnamed: 19,Unnamed: 20
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,Mujer,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,Hombre,NaN,NaN,"443359,226","4472082,272",N,NaN,NaN,NaN
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,Hombre,NaN,NaN,"441155,351","4474129,588",S,NaN,NaN,NaN
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,Mujer,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,Hombre,NaN,NaN,"441155,351","4474129,588",N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78206,2023S028337,31/08/2023,23:20:00,"CALL. GOLFO DE SALONICA, 12",12,16.0,HORTALEZA,Otro,Despejado,Turismo,...,De 55 a 59 años,Mujer,14.0,Sin asistencia sanitaria,443580.365,4480912.376,N,NaN,NaN,NaN
78207,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Motocicleta hasta 125cc,...,De 30 a 34 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,440795.55,4471044.789,N,NaN,NaN,NaN
78208,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Turismo,...,De 35 a 39 años,Hombre,14.0,Sin asistencia sanitaria,440795.55,4471044.789,N,NaN,NaN,NaN
78209,2023S028352,31/08/2023,14:40:00,"AUTOV. M-30, 00NC06",00NC06,5.0,CHAMARTÍN,Caída,Despejado,Motocicleta hasta 125cc,...,De 40 a 44 años,Hombre,1.0,Atención en urgencias sin posterior ingreso,442825.5,4481003.193,N,NaN,NaN,NaN
78210,2023S029136,02/08/2023,22:10:00,"AVDA. CARDENAL HERRERA ORIA, 80",80,8.0,FUENCARRAL-EL PARDO,Choque contra obstáculo fijo,NaN,Turismo,...,De 35 a 39 años,Hombre,NaN,NaN,441491.437,4482518.59,N,NaN,NaN,NaN

Eliminamos unas columnas no deseadas 'Unnamed', ya que probablemente haya sido un error del autor y nos molesta

In [28]:
combined_data.drop(columns=[col for col in combined_data.columns if col.startswith("Unnamed")], inplace=True)
combined_data.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,Conductor,De 30 a 34 años,Mujer,NaN,NaN,"443359,226","4472082,272",N,NaN
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,Hombre,NaN,NaN,"443359,226","4472082,272",N,NaN
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,Hombre,NaN,NaN,"441155,351","4474129,588",S,NaN
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,Mujer,NaN,NaN,"441155,351","4474129,588",N,NaN
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,Conductor,De 40 a 44 años,Hombre,NaN,NaN,"441155,351","4474129,588",N,NaN

## Uniformidad

1. Cambiamos los nulos de positiva_droga por un 0 y en positiva_alcohol 'S' por 1 y 'N' por 0 para mantener la uniformidad

In [29]:
# Cambiamos en 'positiva_alcohol'
combined_data['positiva_alcohol'].replace({'S': 1, 'N': 0}, inplace=True)
# Cambiamos en 'positiva_droga' y 'positiva_alcohol los nulls
combined_data['positiva_alcohol'].fillna(0, inplace=True)
combined_data['positiva_droga'].fillna(0, inplace=True)
# Verificamos los cambios y si todavía hay valores nulos en la columna 'positiva_droga'
combined_data['positiva_alcohol'].value_counts(), combined_data['positiva_droga'].isnull().sum()

(positiva_alcohol
 0.0    72591
 1.0     2370
 Name: count, dtype: int64,
 0)

Revisamos según la edad que tipo de personas y vehiculos existen

In [30]:
combined_data.filter(['rango_edad','tipo_persona', 'tipo_vehiculo']).groupby('rango_edad').value_counts()

rango_edad       tipo_persona  tipo_vehiculo
De 10 a 14 años  Pasajero      Turismo                        426
                 Peatón        Turismo                         96
                 Conductor     VMU eléctrico                   36
                               Bicicleta                       35
                 Pasajero      Furgoneta                       15
                                                             ...
Más de 74 años   Pasajero      Autobus EMT                      1
                 Conductor     Cuadriciclo ligero               1
                               Moto de tres ruedas > 125cc      1
                               Otros vehículos con motor        1
                               Sin especificar                  1
Name: count, Length: 752, dtype: int64

Observamos que existen personas menores de 5 años que están asignadas como Conductores, veamos estos datos

In [31]:
combined_data[combined_data['rango_edad'].isin(['Menor de 5 años', 'De 10 a 14 años', 'De 15 a 17 años'])][combined_data['tipo_persona']=='Conductor']

/tmp/ipykernel_6858/2650439799.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  combined_data[combined_data['rango_edad'].isin(['Menor de 5 años', 'De 10 a 14 años', 'De 15 a 17 años'])][combined_data['tipo_persona']=='Conductor']

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
16,2022S000009,01/01/2022,5:20:00,CALL. AMPOSTA / CALL. ARGENTA,2,20.0,SAN BLAS-CANILLEJAS,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,De 15 a 17 años,Mujer,14.0,Sin asistencia sanitaria,"447682,168","4474712,884",1.0,0.0
396,2022S000209,05/01/2022,21:15:00,"CALL. CAMINO VIEJO DE LEGANES, 157",157,11.0,CARABANCHEL,Colisión fronto-lateral,Lluvia débil,VMU eléctrico,Conductor,De 10 a 14 años,Mujer,1.0,Atención en urgencias sin posterior ingreso,"438042,722","4470485,816",0.0,0.0
769,2022S000416,09/01/2022,14:20:00,"CALL. ALCALA, 69",69,4.0,SALAMANCA,Colisión lateral,Despejado,Bicicleta,Conductor,De 10 a 14 años,Hombre,NaN,NaN,"441492,182","4474597,275",0.0,0.0
1073,2022S000584,12/01/2022,16:30:00,"AVDA. SEGUNDA, 5",5,20.0,SAN BLAS-CANILLEJAS,Caída,Despejado,VMU eléctrico,Conductor,De 15 a 17 años,Hombre,5.0,Asistencia sanitaria ambulatoria con posterior...,"449611,236","4477594,667",0.0,0.0
1827,2022S001092,11/01/2022,9:50:00,"AVDA. VICTORIA, 32",32,9.0,MONCLOA-ARAVACA,Choque contra obstáculo fijo,Despejado,Cuadriciclo ligero,Conductor,De 15 a 17 años,Mujer,7.0,Asistencia sanitaria sólo en el lugar del acci...,"430573,402","4480061,289",0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77502,2023S027852,23/08/2023,20:15:00,CALL. JOSE ARCONES GIL / CALL. DOCTOR CIRAJAS,26,15.0,CIUDAD LINEAL,Caída,Despejado,Bicicleta,Conductor,De 15 a 17 años,Mujer,7.0,Asistencia sanitaria sólo en el lugar del acci...,445833.33,4476236.576,0.0,0.0
77583,2023S027899,24/08/2023,22:20:00,AVDA. PESETA / CALL. SALVADOR ALLENDE,43,11.0,CARABANCHEL,Colisión fronto-lateral,Despejado,VMU eléctrico,Conductor,De 15 a 17 años,Hombre,2.0,Ingreso inferior o igual a 24 horas,435683.357,4468247.391,0.0,0.0
77607,2023S027913,25/08/2023,10:10:00,"AVDA. POBLADOS, 167",167,12.0,USERA,Alcance,Despejado,Bicicleta EPAC (pedaleo asistido),Conductor,De 15 a 17 años,Hombre,2.0,Ingreso inferior o igual a 24 horas,439893.946,4469302.219,0.0,0.0
77665,2023S027954,24/08/2023,20:10:00,AVDA. PORTUGAL / PLAZA. PUERTA DEL ANGEL,3,10.0,LATINA,Caída,Despejado,Bicicleta,Conductor,De 15 a 17 años,Mujer,1.0,Atención en urgencias sin posterior ingreso,438088.045,4474043.831,0.0,0.0
78037,2023S028220,30/08/2023,16:35:00,"AVDA. LOS ROSALES, 113",113,17.0,VILLAVERDE,Colisión fronto-lateral,Despejado,Bicicleta EPAC (pedaleo asistido),Conductor,De 15 a 17 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,442262.258,4467240.059,0.0,0.0

### Agregamos columna 'numero_pasajeros' y Reemplazamos datos erroneos
Estos datos tienen que ser erróneos sí o sí, ya que la ley dicta que ningún menor de 18 años puede conducir en España. Para arreglar este problema, todos los casos que la edad sea 'Menor de 5 años', 'De 10 a 14 años', 'De 15 a 17 años' y sean conductores de vehículos, excluyendo: **'Bicicleta EPAC (pedaleo asistido)', 'Bicicleta', 'VMU eléctrico', 'Cuadriciclo ligero', 'Motocicleta hasta 125cc', 'Ciclomotor' y 'Ciclo'**, ya que está permitido conducir dichos vehículos para menores de 18 los dividiremos en 2 casos:
1. Si existe más de 1 pasajero en el vehículo cambiamos el tipo de persona a 'Pasajero'
2. Cuando sea el único pasajero del vehículo cambiamos la edad a 'Desconocido', ya que se concluye que hubo un error al introducir la edad

In [32]:
# Agregando la columna 'numero_pasajeros'
combined_data['numero_pasajeros'] = combined_data.groupby('num_expediente')['num_expediente'].transform('count')

# Filtrando datos para encontrar los registros donde el rango de edad es 'Menor de 5 años', el tipo de persona es 'Conductor',
# y el tipo de vehículo no es ni 'Bicicleta EPAC (pedaleo asistido)', 'Bicicleta', 'VMU eléctrico', 'Cuadriciclo ligero'
# 'Motocicleta hasta 125cc', 'Ciclomotor' o 'Ciclo'
faulty_data = combined_data[
    ((combined_data['rango_edad'] == 'Menor de 5 años') |
     (combined_data['rango_edad'] == 'De 10 a 14 años') |
     (combined_data['rango_edad'] == 'De 15 a 17 años')) &
    (combined_data['tipo_persona'] == 'Conductor') &
    (~combined_data['tipo_vehiculo'].isin(['Bicicleta EPAC (pedaleo asistido)', 'Bicicleta', 'VMU eléctrico', 'Cuadriciclo ligero'
                                           , 'Motocicleta hasta 125cc', 'Ciclomotor', 'Ciclo']))
    ]


# Revisando si hay más de un pasajero en los registros filtrados y realizando los reemplazos correspondientes
if faulty_data['numero_pasajeros'].gt(1).any():
    # Cambiar 'tipo_persona' a 'Pasajero' para registros donde hay más de un pasajero
    combined_data.loc[faulty_data.index, 'tipo_persona'] = 'Pasajero'
else:
    # Cambiar 'rango_edad' a 'Desconocido' si no hay más de un pasajero
    combined_data.loc[faulty_data.index, 'rango_edad'] = 'Desconocido'




# Filtrar por tipo_persona 'Conductor' y por los rangos de edad de interés
conductores_rangos_edad = combined_data[
    (combined_data['tipo_persona'] == 'Conductor') &
    (combined_data['rango_edad'].isin(['De 10 a 14 años', 'De 15 a 17 años', 'Menor de 5 años']))
    ]

conductores_rangos_edad.groupby(['rango_edad', 'tipo_vehiculo']).size()

rango_edad       tipo_vehiculo
De 10 a 14 años  Bicicleta                            35
                 VMU eléctrico                        36
De 15 a 17 años  Bicicleta                            28
                 Bicicleta EPAC (pedaleo asistido)     9
                 Ciclo                                 2
                 Ciclomotor                           16
                 Cuadriciclo ligero                   19
                 Motocicleta hasta 125cc              11
                 VMU eléctrico                        82
Menor de 5 años  Bicicleta                             1
                 Bicicleta EPAC (pedaleo asistido)     1
dtype: int64

Observamos que los datos de personas menores de 18 años son de tipo_vehiculo permitidos por la legislación española, por lo que no son datos erróneos

In [33]:
combined_data.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,Conductor,De 30 a 34 años,Mujer,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,Hombre,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,Conductor,De 30 a 34 años,Hombre,NaN,NaN,"441155,351","4474129,588",1.0,0.0,3
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,Pasajero,De 35 a 39 años,Mujer,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,Conductor,De 40 a 44 años,Hombre,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3

In [34]:
combined_data.to_csv('./Datasets/Data_Combinada.csv', index=False)